<div class="locations col-sm-6">
  <h4><a href="https://dev.twitter.com/streaming/overview/request-parameters#locations">Locations</a></h4>
  <!-- a tweet is included if matched by Track OR by Location. -->
  <div class="location-list">
    <table class="table">
      <tr>
        <td><input type="number" ng-model="newLocation[0]" class="form-control"></td>
        <td><input type="number" ng-model="newLocation[1]" class="form-control"></td>
        <td><input type="number" ng-model="newLocation[2]" class="form-control"></td>
        <td><input type="number" ng-model="newLocation[3]" class="form-control"></td>
        <td>
          <button class="btn btn-default"
                  ng-click="settings.locations = settings.locations.concat(newLocation);newLocation = []">
            &plus;
          </button>
        </td>
      </tr>
      <tr ng-if="settings.locations.length == 0">No items added, yet</tr>
      <tr ng-if="settings.locations.length > 0" ng-repeat="num in stepRange(settings.locations.length, 4)">
        <td ng-bind="settings.locations[num + 0]"></td>
        <td ng-bind="settings.locations[num + 1]"></td>
        <td ng-bind="settings.locations[num + 2]"></td>
        <td ng-bind="settings.locations[num + 3]"></td>
        <td><p class="fa fa-trash-o pull-right" ng-click="settings.locations.splice(num, 4)"></p></td>
      </tr>
    </table>
  </div>
</div>