<div class="main dashboard">
  <div class="container">
    <h1>Dashboard</h1>
    <div class="settings row">
      <!--
      This shows all the different kinds of streams that twitter offers,
      and all the parameters each stream takes.
      -->
      <h2>Settings</h2>
      <!-- TODO filter_level -->
      <ul class="nav nav-pills">
        <li ng-class="{'active':selectedStream == 'user'}">
          <a href ng-click="selectedStream = 'user'">User stream</a>
        </li>
        <li ng-class="{'active':selectedStream == 'site'}">
          <a href ng-click="selectedStream = 'site'">Site stream</a>
        </li>
        <li ng-class="{'active':selectedStream == 'public'}">
          <a href ng-click="selectedStream = 'public'">Public (filter) stream</a>
        </li>

        <li ng-class="{'active':selectedStream == 'sample'}">
          <a href ng-click="selectedStream = 'sample'">Public (sample) stream</a>
        </li>
        <li ng-class="{'active':selectedStream == 'retweet'}">
          <a href ng-click="selectedStream = 'retweet'">Retweet stream</a>
        </li>
        <li ng-class="{'active':selectedStream == 'firehose'}">
          <a href ng-click="selectedStream = 'firehose'">Firehose</a>
        </li>
      </ul>

      <div class="tab-content">
        <div ng-if="selectedStream == 'user'">
          <h3>User stream</h3>
          <div class="row">
            <x-with x-settings="streamSettings['user']"></x-with>
            <x-replies x-settings="streamSettings['user']"></x-replies>
            <x-track x-settings="streamSettings['user']"></x-track>
          </div>
          <div class="row">
            <x-locations x-settings="streamSettings['user']"></x-locations>
          </div>
        </div>
        <div ng-if="selectedStream == 'site'">
          <h3>Site stream</h3>
          <div class="row">
            <x-follow x-settings="streamSettings['site']"></x-follow>
            <x-with x-settings="streamSettings['site']"></x-with>
            <x-replies x-settings="streamSettings['site']"></x-replies>
          </div>
        </div>
        <div ng-if="selectedStream == 'public'">
          <h3>Public (Filter) stream</h3>
          <div class="row">
            <x-follow x-settings="streamSettings['public']"></x-follow>
            <x-track x-settings="streamSettings['public']"></x-track>
            <x-languages x-settings="streamSettings['public']"></x-languages>
          </div>
          <div class="row">
            <x-locations x-settings="streamSettings['public']"></x-locations>
            <x-filter-level x-settings="streamSettings['public']"></x-filter-level>
          </div>
        </div>
        <div ng-if="selectedStream == 'sample'">
          <h3>Public (Sample) stream</h3>
          <div class="row">
            <x-languages x-settings="streamSettings['sample']"></x-languages>
          </div>
        </div>
        <div ng-if="selectedStream == 'retweet'">
          <h3>Retweet stream</h3>
          <div class="row">
            The retweet stream has no further options.
          </div>
        </div>
        <div ng-if="selectedStream == 'firehose'" class="firehose">
          <h3>Firehose</h3>
          <div class="row">
            <x-count x-settings="streamSettings['firehose']"></x-count>
          </div>
        </div>
      </div>

      <button class="btn btn-primary"
              ng-click="updateSettings()">
        <span ng-if="isLoading"><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;Loading</span>
        <span ng-if="isStreaming"><i class="fa fa-refresh"></i>&nbsp;Update Settings</span>
        <span ng-if="!isLoading && !isStreaming"><i class="fa fa-play"></i>&nbsp;Start</span>

      </button>

    </div>
    <div class="results row">
      <h2>Results</h2>
      <div class="col-xs-12 col-md-4">
        <h2>Tweets</h2>
        <p ng-if="results.tweets.length == 0">
          <b>No tweets, yet</b>
        </p>
        <p class="tweet" ng-repeat="tweet in results.tweets track by $index">
          <b>{{tweet.name}}:</b>{{tweet.text}}
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h2>Sentiment</h2>
        <x-sentiment x-data="TODO"></x-sentiment>
        <!--
        <p ng-repeat="sentiment in result.sentiment">
          <b>{{sentiment.text}}:</b>&nbsp;{{sentiment.value}}
        </p>
        -->
      </div>
      <div class="col-xs-12 col-md-4">
        <h2>Topics</h2>
        <x-topics x-data="TODO"></x-topics>
        <!--
        <p ng-repeat="topic in result.topics">
          <b>{{topic.text}}:</b>&nbsp;{{topic.value}}
        </p>
        -->
      </div>
      <div class="col-xs-12 col-md-4">
        <h2>Wordcount</h2>
        <x-wordcount x-results="results"></x-wordcount>
      </div>
    </div>
  </div>
</div>
