<div class="main dashboard">
  <div class="container">
    <h1>Dashboard</h1>
    <div class="settings row">
      <!--
      This shows all the different kinds of streams that twitter offers,
      and all the parameters each stream takes.
      -->
      <h2>Settings</h2>
      <!-- TODO filter_level -->
      <ul class="nav nav-pills">
        <li ng-class="{'active':selectedStream == 'user'}">
          <a href ng-click="selectedStream = 'user'">User stream</a>
        </li>
        <li ng-class="{'active':selectedStream == 'site'}">
          <a href ng-click="selectedStream = 'site'">Site stream</a>
        </li>
        <li ng-class="{'active':selectedStream == 'public'}">
          <a href ng-click="selectedStream = 'public'">Public (=filter) stream</a>
        </li>

        <li ng-class="{'active':selectedStream == 'sample'}">
          <a href ng-click="selectedStream = 'sample'">Sample stream</a>
        </li>
        <li ng-class="{'active':selectedStream == 'retweet'}">
          <a href ng-click="selectedStream = 'retweet'">Retweet stream</a>
        </li>
        <li ng-class="{'active':selectedStream == 'firehose'}">
          <a href ng-click="selectedStream = 'firehose'">Firehose</a>
        </li>
      </ul>

      <div class="tab-content">
        <div ng-if="selectedStream == 'user'">
          <h3>User stream</h3>
          <x-with x-settings="streamSettings['user']"></x-with>
          <x-replies x-settings="streamSettings['user']"></x-replies>
          <x-track x-settings="streamSettings['user']"></x-track>
          <x-locations x-settings="streamSettings['user']"></x-locations>
        </div>
        <div ng-if="selectedStream == 'site'">
          <h3>Site stream</h3>
          <x-follow x-settings="streamSettings['site']"></x-follow>
          <x-with x-settings="streamSettings['site']"></x-with>
          <x-replies x-settings="streamSettings['site']"></x-replies>
        </div>
        <div ng-if="selectedStream == 'public'">
          <h3>Public (Filter) stream</h3>
          <x-follow x-settings="streamSettings['public']"></x-follow>
          <x-track x-settings="streamSettings['public']"></x-track>
          <x-locations x-settings="streamSettings['public']"></x-locations>
          <x-languages x-settings="streamSettings['public']"></x-languages>
          <x-filter-level x-settings="streamSettings['public']"></x-filter-level>
        </div>
        <div ng-if="selectedStream == 'sample'">
          <h3>Public (Sample) stream</h3>
          <x-languages x-settings="streamSettings['sample']"></x-languages>
        </div>
        <div ng-if="selectedStream == 'retweet'">
          <h3>Retweet stream</h3>
          The retweet stream has no further options.
        </div>
        <div ng-if="selectedStream == 'firehose'" class="firehose">
          <h3>Firehose</h3>
          <x-count x-settings="streamSettings['firehose']"></x-count>
        </div>
      </div>

      <button class="btn btn-primary"
              ng-click="updateSettings()"
              ng-bind="isStreaming?'Update Settings':'Start Streaming'">
      </button>
    </div>

    <div class="row">
      <h2>Results</h2>
      <div class="col-xs-12 col-md-4">
        <h2>Tweets</h2>
        <p class="tweet" ng-repeat="tweet in data.tweets track by $index">
          <b>{{tweet.name}}:</b>{{tweet.text}}
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h2>Sentiment</h2>
        TODO
        <!--
        <p ng-repeat="sentiment in data.sentiment">
          <b>{{sentiment.text}}:</b>&nbsp;{{sentiment.value}}
        </p>
        -->
      </div>
      <div class="col-xs-12 col-md-4">
        <h2>Topics</h2>
        TODO
        <!--
        <p ng-repeat="topic in data.topics">
          <b>{{topic.text}}:</b>&nbsp;{{topic.value}}
        </p>
        -->
      </div>
    </div>
  </div>
</div>
