<div class="location-list">
  <table class="table">
    <tr ng-if="array.length == 0">No items added, yet</tr>
    <tr ng-if="array.length > 0" ng-repeat="num in stepRange(array.length, 4)">
      <td ng-bind="array[num + 0]"></td>
      <td ng-bind="array[num + 1]"></td>
      <td ng-bind="array[num + 2]"></td>
      <td ng-bind="array[num + 3]"></td>
      <td><p class="fa fa-trash-o pull-right" ng-click="array.splice(num, 4)"></p></td>
    </tr>
    <tr>
      <td><input type="number" ng-model="newLocation[0]"></td>
      <td><input type="number" ng-model="newLocation[1]"></td>
      <td><input type="number" ng-model="newLocation[2]"></td>
      <td><input type="number" ng-model="newLocation[3]"></td>
      <td>
        <button class="btn btn-default" ng-click="array = array.concat(newLocation);newLocation = []">
          Add
        </button>
      </td>
    </tr>
  </table>
</div>