<div class="filter-level">
  <h4><a href="https://dev.twitter.com/streaming/overview/request-parameters#filter_level">Filter level</a></h4>
  <div class="radio">
    <label>
      <input type="radio" name="filter_level" ng-model="streamSettings['public'].filter_level"
             value="none">
      none
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="filter_level" ng-model="streamSettings['public'].filter_level"
             value="low">
      low
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="filter_level" ng-model="streamSettings['public'].filter_level"
             value="medium">
      medium
    </label>
  </div>
</div>