<div class="main dashboard">
  <div class="container">
    <div class="row">
      <h1>Dashboard</h1>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#">User streams</a></li>
        <li><a href="#">Site streams</a></li>
        <li><a href="#">Public streams</a></li>
      </ul>

      <div class="col-xs-12 col-md-4">
        <h2>Tweets</h2>
        <p class="tweet" ng-repeat="tweet in data.tweets track by $index">
          <b>{{tweet.name}}:</b>{{tweet.text}}
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h2>Sentiment</h2>
        TODO
        <!--
        <p ng-repeat="sentiment in data.sentiment">
          <b>{{sentiment.text}}:</b>&nbsp;{{sentiment.value}}
        </p>
        -->
      </div>
      <div class="col-xs-12 col-md-4">
        <h2>Topics</h2>
        TODO
        <!--
        <p ng-repeat="topic in data.topics">
          <b>{{topic.text}}:</b>&nbsp;{{topic.value}}
        </p>
        -->
      </div>
    </div>
  </div>
</div>
