<div class="with">
  <h4><a href="https://dev.twitter.com/streaming/overview/request-parameters#with">With</a></h4>
  <div class="radio">
    <label>
      <input type="radio" name="with" ng-model="settings._with" value="user">
      user (only stream messages from the user)
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="with" ng-model="settings._with" value="followings">
      followings (adds those from accounts the user follows)
    </label>
  </div>
</div>